*{
    margin: 10px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,100;1,100&family=Quicksand:wght@300&display=swap');
.header_list{
    display: flex;
    justify-content: space-around;
    gap: 2em;
    height: 80px;

}
.head_h2_text{
    font-size: 2.5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}
.h2_text{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.6em;
}
.list_div{
display: flex;
gap: 1em;
text-transform: capitalize;
font-weight: 500;
text-shadow: none;
font-size:1em;
font-family:'Poppins', sans-serif;

}
a{
    color: black;
}

.form_div{
display: flex;
gap: 1em;
}

.head_logo{
    width:50%;
 
}
/* button desgn */
.form_button{
    width:5vw;
    height:5vh;
    background-color: #6750A4;
    color:white;
    font-weight:500;
    font-size: 80%;
    text-transform: capitalize;
    border: solid 1px white;
}
.form_button_2{
    width:5vw;
    height:5vh;
    background-color:  #FFFFFF;
    color:#6750A4;
    font-weight:500;
    font-size: 80%;
    text-transform: capitalize;
    border: solid 1px #6750A4;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: #6750A4;
}
/* grid section */
.section_grid{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.p_text{
    font-family: 'Fira Sans',monospace, sans-serif;
    font-weight:400;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}
.game_pad{
    width: 90%;
}

/* inner text div  */
.inner_text_div{
border: solid white 2px;
display: flex;
justify-content: space-between;
border-radius: 10px;
box-shadow: -2px 3px 6px ;
box-sizing: border-box;
margin-top:40px;
margin-bottom:40px;
}

.cite_under{
    font-weight: lighter;
    text-transform: capitalize;
    text-align: left;
    font-size:0.9em;
    padding: 20px;
    font-family:  'Fira Sans', monospace;

}
.grid_section{
 display: flex;
 justify-content: center;
}
.icon_new{
    display: flex;
    align-content: flex-end;

}


.p_ptext{
    font-size: 1.3em;
    font-family: monospace;
    text-transform: capitalize;
}
.p_text_icon{
    font-size: 1em;
    font-weight: 500;
    font-family: monospace;
    text-transform: capitalize;
}
.height_div{
    height: 25vh;
}
/* ui text */
/* .ui_text{
text-transform: capitalize;
font-weight: 500;
font-family:'Poppins', sans-serif;
font-size: 1.3em;
}
.ui_under{
font-weight:600;
font-size: 1.3em;
text-transform: capitalize;
font-family:'Poppins', sans-serif;
}

.contact_body{
    display: flex;
    justify-content: center;
}

.contact_border{
    background-color: #F6F4FC;
    width:65vw;
    height: 40vh;
    display: flex;
    justify-content: center;
} */

/* section_button */





.form_info{
    display: flex;
    justify-content:center ;
}
.subject{
    width: 60vw;
    height: 10vh;
    margin-bottom: 30px;
    margin-top: 20PX;
    border:solid 1px;

}
.message{
    width: 60vw;
    height: 30vh;
    margin-bottom: 30px;
    margin-top: 20PX;
    border:solid 1px;
}
::placeholder{
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 300;
    font-family: monospace;
    padding-left: 10px;
    color: #505050;
    position: absolute;
}
.p_message{
    margin-top: 80px;
    font-size:2.5em;
    text-transform: capitalize;
    font-family: monospace;
    font-weight: 600;
}
.send_message{
width: 20vw;
height: 5vh;
text-transform: capitalize;
font-size: 1.5em;
color: #ffff;
font-family: monospace;
background-color: #6750A4;
text-align: center;
border: 1px solid white;

}
.inder_div{
display: flex;
justify-content: end;
}
/* last footer */

.botoom_footer{
    background: #F6F4FC;
    margin-top: 50px;
    padding-top: 30px;
}

.footer_icons{
    width: 45px;
    margin-left: 20px;
}

.footer_first_flex{
    display: flex;
    justify-content: space-between;
}
.andemy_footer{
    width: 200px;
}
.line_div{
   border:  #6750A4 solid 1px;
   margin: 20px;
}
.last_p_tag{
    font-size: 1.4em;
    text-transform: capitalize;
    color: #6750A4;
    font-family: monospace;
   
}




/* media queries area do not touch */
@media screen and (max-width:550px) {
    .game_pad{
        grid-area: game_pad;
    }
    .section_grid{
        grid-template-columns: 1fr;
        grid-template-areas: "game_pad"
        "test_div";
    }
    .test_div{
        grid-area: test_div;
    }
    .head_logo{
        width: 50px;
    }
.form_button, .form_button_2{
    width: 100%;
}
.list_div{
    gap: 0em;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.inner_text_div{
    border: solid yellow 2px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: white;
    box-sizing: border-box;
    box-shadow: inset;
    flex-wrap: wrap;
    }
    .inner_icon{
        width:100%;
    }
}